<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- BootStrap Script links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script> -->


    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://kit.fontawesome.com/8bbe7ed51b.js" crossorigin="anonymous"></script>

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">


</head>

<body class="loginBG">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(0, 0, 0, 0.644);">
        <a class="navbar-brand text-light" href="#" style="font-family: 'Spartan', sans-serif;">SARITHA TRADERS </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" href="/admin">USER LOGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" href="/delivery">DELIVERY</a>
                </li>
            </ul>

            <%if(username.length!=0){%>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fa-solid fa-user text-warning">  <%=username%></i>                        
                    </button>
                    <div class="dropdown-content">
                        <a href="/logoutAdmin">Log Out</a>
                    </div>
                </div>
                <%}%>

        </div>

    </nav>


    <!-- products -->
    <section>
        <div class="container-fluid">
            <h2 class="ProductHeading">Orders Yet To Deliver</h2>
            <div class="row pb-5">
                <input id="totproduct" type="hidden" value="<%=products.length%>">
                <%if(products.length!=0){%>

                    <%for(var i=0;i< products.length;i++){%>
                        <%if(i==0){%>
                            <div class="col-lg-2 productButton selectedItem " id="productHead<%=i%>" onclick="productDiplay('<%=i%>')">
                                <p>Order
                                    <%=i+1%>
                                </p>
                            </div>
                            <%}else{%>
                                <div class="col-lg-2 productButton" id="productHead<%=i%>" onclick="productDiplay('<%=i%>')">
                                    <p>Order
                                        <%=i+1%>
                                    </p>
                                </div>

                                <%}%>
                                    <%}%>
            </div>
            <%}else{%>
        </div>
        </div>
        <div class="text-center">
            <p>

                <i class="fa-solid fa-folder-open" style="font-size: 700%;"></i>
                <span class="mt-3 fa-2x"> No Delivery Products </span>
            </p>
        </div>
        </div>
        <%}%>

            </div>
    </section>


    <!-- Details Delivery -->
    <section>
        <%if(products.length!=0){%>
            <%for(var i = 0; i< products.length;i++){%>

                <section id="p<%=i%>">
                    <div class="row">
                        <div class=" col-lg-3 text-center">
                            <div class="deliveryStsbrd">
                                <div class="border innerBorder">
                                    <h4>
                                        <b>User Name :</b>
                                        <p>
                                            <%=products[i].userid %>
                                        </p>
                                    </h4>
                                    <h4>
                                        <b>Delivery Date :</b>
                                        <p>
                                            <%=products[i].deliveryDate.toLocaleDateString() %>
                                        </p>
                                    </h4>
                                    <h4>
                                        <b>Address:  </b>
                                        <p>
                                            <%=products[i].address%>
                                        </p>
                                    </h4>
                                    <h4>
                                        <b>Total Price: </b>
                                        <p>
                                            <%=products[i].totalPrice%>
                                        </p>
                                    </h4>
                                    <h4>
                                        <b>Paid Status: </b>
                                        <p class="text-warning">
                                            <u>
                                                <% if(products[i].paidStatus == "Not Paid" && products[i].deliveryStatus == "Not Done") {%>
                                                <form action="/paid" method="post">
                                                    <input type="hidden" name="user" value="<%=products[i].userid %>">
                                                    <input type="hidden" name="id" value="<%=products[i]._id %>">
                                                    <button class="btn btn-success" type="submit" onclick="confirm('Confirm to update as paid')">Not Paid</button>
                                                </form>
                                                <% }else { %>
                                                    <button class="btn btn-success" type="button" disabled>Paid</button>
                                                    <% } %>
                                            </u>
                                        </p>
                                    </h4>
                                    <h4>
                                        <b>Delivery Status: </b>
                                        <p class="text-warning">
                                            <u>
                                                <% if(products[i].paidStatus == "Not Paid" && products[i].deliveryStatus == "Not Done") {%>
                                                    <button class="btn btn-success" type="button" disabled>Not Delivered</button>
                                                    <% }else { %>
                                                        <form action="/delivered" method="post">
                                                            <input type="hidden" name="user" value="<%=products[i].userid %>">
                                                            <input type="hidden" name="id" value="<%=products[i]._id %>">
                                                            <button class="btn btn-success" type="submit" onclick="confirm('Confirm to update as delivered')">Not Delivered</button>
                                                        </form>
                                                    <% } %>
                                            </u>
                                        </p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <% products[i].products.forEach(e => { %>
                            <div class="col-lg-2 deliveryGrigGap">
                                <section class="deliveryGrigGap">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="<%=e.imageId%>" alt="Card image cap" width="100px" height="200px">
                                        <div class="text-left text-info deliveryCard">
                                            <h2 class="text-center tex">
                                                <%=e.productName%>
                                            </h2>
                                            <h2 class="text-dark"><b>Price: </b>Rs.
                                                <%=e.price%>
                                            </h2>
                                            <h2 class="text-dark"><b>Quantity: </b>
                                                <%=e.quantity%>
                                            </h2>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-1"></div>
                            <% }) %>

                    </div>

                </section>
                <%}%>
                    <%}%>
    </section>




    <script>
        function productDiplay(productName) {
            var n = document.getElementById("totproduct").value
            for (var i = 0; i < n; i++) {
                if (i == productName) {
                    $('#p' + i).removeClass('remove');
                    $('#productHead' + i).addClass('selectedItem');
                } else {
                    $('#p' + i).addClass('remove');
                    $('#productHead' + i).removeClass('selectedItem');
                }
            }
        }
        productDiplay(0); //Removes remaning all except 0
    </script>

</body>

</html>